h2 {
  color: salmon;
  text-align: center;
}

.container {
  width: 60%;
  border: 2px solid salmon;
  padding: 20px 0px;
  margin: 0px auto;
}

.child_container {
  border: 1px solid palegreen;
  padding: 20px 0px;
  margin: 20px 0px;
}

.child_container > ul {
  list-style-type: none;
  min-height: 150px;
}

.child_container > ul > li {
  background-color: blueviolet;
  padding: 10px 0px;
  margin: 5px 0px;
  text-align: center;
  cursor: move;
  border: 2px solid salmon;
}
